atlassian-ide-plugin.xml
.DS_Store
Thumbs.db
*.log
*.iml
*.ipr
*.iws
.idea
.svn
target/
.idea/
src/test/framework/
src/test/generated/
src/main/index.json
tags
History.md
src/wix-wysiwyg-editor-min.js
src/wix-wysiwyg-viewer-min.js
/counter.txt
src/test/java/wysiwyg/*Resource.java
src/main/index*.json
src/test/*debug.json
src/test/wysiwyg.specs.json
